{% extends "base.html" %}

    {% block title %}Login{% endblock %}

    {% block content %}
    <div class="card bg-base-300 w-xs md:w-sm shadow-md mt-5">
        <div class="card-body">
            <h1 class="card-title">Login</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="alert alert-error p-2 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <fieldset class="fieldset">
                    <label class="label">Email</label>
                    <input name="email" type="email" class="input validator w-auto" placeholder="Email" required />
                    <p class="validator-hint hidden">Required</p>
                </fieldset>

                <label class="fieldset">
                    <span class="label">Password</span>
                    <input name="password" type="password" class="input validator w-auto" placeholder="Password" required />
                    <span class="validator-hint hidden">Required</span>
                </label>

                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}

                <div class="divider my-1"></div>

                <div class="grid grid-cols-2">
                    <a href="{% url 'register' %}" class="link link-primary justify-start self-center">Register?</a>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock content %}
