{% extends 'base.html' %}

{% block title %}Rooms{% endblock %}

{% block content %}
<div class="grid">
{% if status == "success" %}
    <div role="alert" class="alert alert-success mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Request Sent!</span>
    </div>
{% elif status == "failed" %}
    <div role="alert" class="alert alert-error mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Failed to send request!</span>
    </div>
{% endif %}
<label class="input justify-center align-middle w-auto mx-3 mt-5">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
        >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
        </g>
    </svg>
    <input type="search" required placeholder="Search" />
</label>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 bg-base-100 justify-center max-w-900 mt-4">
    {% for room in rooms %}
    {% with students=room.current_students|length %}
    <div class="card bg-base-300 w-80 shadow-md m-3">
    <div class="card-body">
        <form action="{% url 'room_list' %}" method="post">
            {% csrf_token %}
            <div class="flex justify-between">
                <h2 class="card-title text-gold">{{ room.name }}</h2>
                <h3 class="text-right justify-right self-center">{{ room.moderator.user.last_name }}</h3>
            </div>
            
            <div class="flex my-2">
                <progress class="progress progress-primary w-55 self-center" value="{{ students }}" max="{{ room.max_students }}"></progress>
                <p class="text-right justify-center self-center">{{ students }}/{{ room.max_students }}</p>
            </div>
            <p>{{ room.description }}</p>

            <div class="divider my-1"></div>

            <div class="card-actions justify-end my-2 grid grid-cols-2">
            <input type="hidden" name="room_id" value="{{ room.id }}">
            {% if user.student_user.active_request.destination == room %}
                <strong class="text-sm text-center self-center">Pending Request</strong>
                <button class="btn btn-primary" disabled>Request</button>
            {% elif user.student_user in room.current_students.all %}
                <strong class="text-sm text-center self-center">Current Room</strong>
                <button class="btn btn-primary" disabled>Request</button>
            {% elif user.student_user.active_request %}
                <div></div>
                <button class="btn btn-primary" disabled>Request</button>
            {% elif students >= room.max_students %}
                <div></div>
                <button class="btn btn-primary" disabled>Request</button>
            {% elif room.open_room == True %}
                <div></div>
                <button class="btn btn-primary" type="submit" value="{{ room.name }}">Request</button>
            {% elif user.student_user.id in room.allowed_students %}
                <strong class="text-sm text-center self-center">You have special access to this room</strong>
                <button class="btn btn-primary" type="submit">Request</button>
            {% else %}
                <div></div>
                <button class="btn btn-primary" disabled>Request</button>
            {% endif %}
            </div>
        </form>
    </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>
</div>
{% endblock %}
